$headerbg: #2b2e43;
$background-first: #fff;
$background-title: #dcecf8;
$text: #000000;
$reviewsbg: #7491ac;
$footerbg: #745446;
$border: #cfcddf;
$reviews-img: #f3f1eb;
$favorites: #990033;
$more: #995269;
