* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  padding: 0 15px;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: #2b2e43;
  padding: 20px 0;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.logo__img {
  max-width: 120px;
  width: 100%;
}

.nav-list {
  display: flex;
  column-gap: 48px;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px;
}

.nav-list__item {
  display: flex;
  align-items: center;
}
.nav-list__item:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}

.nav-list__link {
  display: flex;
}

.nav-list__favorites {
  max-width: 30px;
  width: 100%;
}

.nav-list__cart {
  max-width: 30px;
  width: 100%;
}

.content {
  padding: 20px 0;
  background-color: #fff;
}

.content-header {
  background-color: #dcecf8;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
}

.content-header__title {
  font-size: 30px;
  transform: skewX(340deg);
  text-transform: uppercase;
}

.card-items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5.9365823268%;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}

.card {
  border: 1px solid #cfcddf;
  border-radius: 3px;
  padding: 30px;
  width: 210px;
  margin-bottom: 48px;
  background-color: #fff;
  transition: 0.5s ease;
}
.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  animation: pulse 2s linear infinite;
}
.card:hover .card-top__more {
  opacity: 1;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-top__more {
  transition: 0.5s ease;
  opacity: 0;
  cursor: pointer;
}
.card-top__more:hover {
  color: #995269;
}

.card-image {
  width: 126px;
}

.card-name {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-bottom__price {
  display: flex;
  flex-direction: column;
}

.reviews {
  padding: 20px 0;
  background-color: #7491ac;
}

.reviews-header {
  background-color: #dcecf8;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
}

.reviews-header__title {
  font-size: 30px;
  transform: skewX(340deg);
  text-transform: uppercase;
}

.reviews-content {
  padding: 0 15px;
}

.reviews-slider {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.slide {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  margin-right: 24px;
  margin-left: 24px;
}

.slide-top {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.slide-top__avatar {
  background-color: #f3f1eb;
  border-radius: 100%;
  max-width: 48px;
  width: 100%;
}

.slide-top__author-name {
  font-size: 16px;
}

.slide-content {
  margin-bottom: 20px;
  line-height: 1.5;
}

.footer {
  padding: 20px 0;
  background-color: #745446;
}

.footer-header {
  background-color: #dcecf8;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
}

.footer-header__title {
  font-size: 30px;
  transform: skewX(340deg);
  text-transform: uppercase;
}

.footer-map {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 1;
}

.popup {
  background-color: #fff;
  height: 610px;
  max-width: 810px;
  width: 100%;
  padding: 30px;
  position: absolute;
  top: -2000px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}

.popup-top {
  display: flex;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-title {
  background-color: #dcecf8;
  margin-bottom: 20px;
  padding: 10px;
}

.popup-title__name {
  font-size: 30px;
  transform: skewX(340deg);
  text-transform: uppercase;
}

.popup-descr {
  margin-bottom: 10px;
  line-height: 1.5;
}

.popup-video {
  max-width: 560px;
  width: 100%;
}

.favorites {
  background-color: #fff;
  height: 100%;
  width: 320px;
  padding: 30px;
  position: absolute;
  top: 0px;
  right: -310px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}

.favorites-title {
  margin-bottom: 20px;
  background-color: #dcecf8;
  text-align: center;
}

.favorites-title__name {
  font-size: 30px;
  text-transform: uppercase;
  transform: skewX(340deg);
}

.favorites-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: overlay;
  scrollbar-gutter: stable;
  height: 100%;
  margin-bottom: 20px;
}

.favorites-items {
  padding: 20px 0 40px;
}

.cart {
  background-color: #fff;
  height: 100%;
  width: 320px;
  padding: 30px;
  position: absolute;
  top: 0px;
  right: -310px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}

.cart-title {
  margin-bottom: 20px;
  background-color: #dcecf8;
  text-align: center;
}

.cart-title__name {
  font-size: 30px;
  text-transform: uppercase;
  transform: skewX(340deg);
}

.cart-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: overlay;
  scrollbar-gutter: stable;
  height: 100%;
  margin-bottom: 20px;
}

.cart-items {
  padding: 20px 0 40px;
}

.cart-summary {
  margin-bottom: 20px;
}

.cart-btn {
  padding: 10px;
  border: none;
  border-radius: 3px;
  width: 100%;
  background-color: #cfcddf;
  opacity: 0.8;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}
.cart-btn:hover {
  opacity: 1;
  transition: 0.5s ease;
  transform: scale(1.03);
}

.overlay--visible-popup {
  opacity: 1;
  visibility: visible;
}

.overlay--visible-popup .popup {
  top: 0;
}

.overlay--visible-favorites {
  opacity: 1;
  visibility: visible;
}

.overlay--visible-favorites .favorites {
  right: 0px;
}

.overlay--visible-cart {
  opacity: 1;
  visibility: visible;
}

.overlay--visible-cart .cart {
  right: 0px;
}

.close-btn {
  margin-left: auto;
  cursor: pointer;
  width: 30px;
}

.close-btn:hover {
  transform: scale(1.2);
  transition: 0.5s ease;
}

.add-btn {
  cursor: pointer;
  width: 25px;
}
.add-btn:hover {
  transform: scale(1.2);
  transition: 0.5s ease;
}
.add-btn:active {
  transform: scale(2);
}

.remove-btn {
  cursor: pointer;
  width: 25px;
}
.remove-btn:hover {
  transform: scale(1.2);
  transition: 0.5s ease;
}

.favorites-btn {
  cursor: pointer;
  width: 25px;
}
.favorites-btn:hover {
  transform: scale(1.2);
  transition: 0.5s ease;
}
.favorites-btn:active {
  transform: scale(2);
}

.unfavorites-btn {
  cursor: pointer;
  width: 25px;
}
.unfavorites-btn:hover {
  transform: scale(1.2);
  transition: 0.5s ease;
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.13);
  }
}

/*# sourceMappingURL=style.css.map */
