.header {
  background-color: $headerbg;
  padding: 20px 0;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: $background-first;
}

.logo__img {
  max-width: 120px;
  width: 100%;
}

.nav-list {
  display: flex;
  column-gap: 48px;
  background-color: $background-first;
  border-radius: 20px;
  padding: 5px;
}

.nav-list__item {
  display: flex;
  align-items: center;
  &:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
  }
}

.nav-list__link {
  display: flex;
}

.nav-list__favorites {
  max-width: 30px;
  width: 100%;
}

.nav-list__cart {
  max-width: 30px;
  width: 100%;
}
