@media (max-width: 1024px) {
  .card-items {
    column-gap: 1.936582%;
  }
}

@media (max-width: 768px) {
  .card-items {
    width: 88%;
  }
}

@media (max-width: 425px) {
  .card {
    padding: 10px;
    width: 170px;
    margin-bottom: 28px;
  }
}

@media (max-width: 375px) {
  .header__inner {
    flex-direction: column;
  }

  .content-header__title {
    font-size: 20px;
  }

  .reviews-header__title {
    font-size: 20px;
  }

  .footer-header__title {
    font-size: 20px;
  }
}
