.content {
  padding: 20px 0;
  background-color: $background-first;
}

.content-header {
  background-color: $background-title;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
}

.content-header__title {
  font-size: 30px;
  transform: skewX(340deg);
  text-transform: uppercase;
}

.card-items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5.9365823268%;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}

.card {
  border: 1px solid $border;
  border-radius: 3px;
  padding: 30px;
  width: 210px;
  margin-bottom: 48px;
  background-color: $background-first;
  transition: 0.5s ease;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    animation: pulse 2s linear infinite;
  }

  &:hover .card-top__more {
    opacity: 1;
  }
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-top__more {
  transition: 0.5s ease;
  opacity: 0;
  cursor: pointer;

  &:hover {
    color: $more;
  }
}

.card-image {
  width: 126px;
}

.card-name {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-bottom__price {
  display: flex;
  flex-direction: column;
}
